mixin videoList(video)
  .videoScreen__column
    a(href=`/videos/${video._id}/watch`).videoScreen--link
      video(src="/" +`${video.videoUrl}`).videoScreen--video
      .videoScreen__videoInfo      
        if video.owner.avatarUrl
          img(src="/"+`${video.owner.avatarUrl}`).videoInfo--avatar
        else 
          if video.owner.username
            span.videoInfo--owner #{video.owner.username[0]}
        p.videoInfo--title #{video.title}
        p.videoInfo--views #{video.meta.views} #{video.meta.views === 0 ? "view" : "views"}