extends ./layouts/base

block content 
  div 
    video(src=`/${video.videoUrl}` controls)
    div 
      h3=video.title
      p=video.description
      small #{video.hashtags.join()}
      small=video.createdAt 
  
  a(href=`/videos/${video._id}/delete`) Delete Video 
  a(href=`/videos/${video._id}/edit`) Edit Video
    